[placeholder="Search"] {
	border: 2px solid rgb(162, 159, 157);
	width: 347px;
	height: 51px;
	padding-left: 23px;
	border-radius: 15px;
	font-weight: 400;
	font-size: 16px;
}
.search-right img {
	width: 13px;
	height: 20px;
}
[placeholder="1"] {
	width: 61px;
	height: 51px;
	padding: 2px;
	border-radius: 15px;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
}
